# SCI 300 Data Analysis

Analysis of British Columbia Full Data

In [17]:
pip install pandas
pip install numpy
pip install matplotlib.pyplot

SyntaxError: invalid syntax (4271475729.py, line 1)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
# Load the data
df = pd.read_csv("British Columbia_Full Data_data.csv", encoding="utf-16le", sep='\t')
df.head()

,Crash Breakdown 2,Date Of Loss Year,Animal Involved,Crash Severity,Cyclist Involved,Day Of Week,Derived Crash Congifuration,Heavy Veh Involved,Intersection Crash,Month Of Year,...,Road Location Description,Street Full Name,Metric Selector,Total Crashes,Total Victims,Cross Street Full Name,Latitude,Longitude,Mid Block Crash,Municipality With Boundary
0,SURREY,2018,No,CASUALTY CRASH,No,FRIDAY,REAR END,No,No,SEPTEMBER,...,PORT MANN BRIDGE,PORT MANN BRIDGE,1,1,1,NaN,49.225890,-122.817994,N,COQUITLAM & SURREY
1,SURREY,2018,No,CASUALTY CRASH,No,FRIDAY,REAR END,No,No,JUNE,...,PORT MANN BRIDGE,PORT MANN BRIDGE,1,1,1,NaN,49.225890,-122.817994,N,COQUITLAM & SURREY
2,SURREY,2018,No,CASUALTY CRASH,No,FRIDAY,CONFLICTED,No,No,APRIL,...,PORT MANN BRIDGE,PORT MANN BRIDGE,1,1,1,NaN,49.225890,-122.817994,N,COQUITLAM & SURREY
3,COQUITLAM,2018,No,CASUALTY CRASH,No,FRIDAY,REAR END,No,No,JANUARY,...,GLEN DR,GLEN DR,1,1,1,NaN,49.282743,-122.806313,N,COQUITLAM
4,SURREY,2018,No,CASUALTY CRASH,No,FRIDAY,REAR END,No,No,JUNE,...,PORT MANN BRIDGE,PORT MANN BRIDGE,1,1,2,NaN,49.225890,-122.817994,N,COQUITLAM & SURREY

In [14]:
# Display basic information about the dataset
print(f"Dataset shape: {df.shape}")
print(f"\nColumn names:")
print(df.columns.tolist())

Dataset shape: (1380474, 29)

Column names:
['Crash Breakdown 2', 'Date Of Loss Year', 'Animal Involved', 'Crash Severity', 'Cyclist Involved', 'Day Of Week', 'Derived Crash Congifuration', 'Heavy Veh Involved', 'Intersection Crash', 'Month Of Year', 'Motorcycle Involved', 'Municipality Name (ifnull)', 'Parked Vehicle Involved', 'Parking Lot Crash', 'Pedestrian Involved', 'Region', 'Street Full Name (ifnull)', 'Time Category', 'Municipality Name', 'Road Location Description', 'Street Full Name', 'Metric Selector', 'Total Crashes', 'Total Victims', 'Cross Street Full Name', 'Latitude', 'Longitude', 'Mid Block Crash', 'Municipality With Boundary']

In [15]:
# Summary statistics
df.describe()

,Date Of Loss Year,Metric Selector,Total Crashes,Total Victims,Latitude,Longitude
count,1.380474e+06,1.380474e+06,1.380474e+06,1.380474e+06,1.087337e+06,1.087337e+06
mean,2.019932e+03,1.007104e+00,1.007104e+00,2.835939e-01,4.946318e+01,-1.226046e+02
std,1.460717e+00,9.871171e-02,9.871171e-02,6.861392e-01,1.060228e+00,1.487860e+00
min,2.018000e+03,1.000000e+00,1.000000e+00,0.000000e+00,4.833216e+01,-1.337055e+02
25%,2.019000e+03,1.000000e+00,1.000000e+00,0.000000e+00,4.914088e+01,-1.231244e+02
50%,2.020000e+03,1.000000e+00,1.000000e+00,0.000000e+00,4.922700e+01,-1.229484e+02
75%,2.021000e+03,1.000000e+00,1.000000e+00,0.000000e+00,4.928481e+01,-1.226693e+02
max,2.022000e+03,2.700000e+01,2.700000e+01,5.500000e+01,5.957762e+01,-1.148224e+02